:root{
    --color-primary:#8501b5;
    --text-primary:#F2F2F2;
    --text-active:#340147;
    --wha-color:#25d366;

    --var-1:#E18FFE;
    --var-2:#D256FE; 
    --var-3:#C525FE; 
    --var-4:#B701F8;
    --var-5:#9C01D4;
    --var-6:#8501B5;
    --var-7:#6E0196;
    --var-8:#5B017D;
    --var-9:#4C0168;
    --var-10:#3F0156;
    --var-11:#050505;
    --bs-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

    


