@font-face {
    font-family: 'oswald regular';
    src: url('../fonts/oswald/Oswald-Regular.ttf');
}

@font-face {
    font-family: 'oswald light';
    src: url('../fonts/oswald/Oswald-Light.ttf');
}

@font-face {
    font-family: 'oswald heavy';
    src: url('../fonts/oswald/Oswald-Heavy.ttf');
}

@font-face {
    font-family: 'oswald bold';
    src: url('../fonts/oswald/Oswald-Bold.ttf');
}